# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/